@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import "tailwindcss";

@theme {
  --font-heebo: 'Heebo', sans-serif;
  --text-color: #232f55
  --font-mulish : 'Mulish', sans-serif;
  
}
  

/* .bgGradient{
  background-image:url('./assets/gradient.png');
}
   */

   .card {
    width: 190px;
    height: 254px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
                  -20px -20px 60px #ffffff;
   }
